# **ธนภัทร พูลโภคา 6710450911 หมู่ 200**

In [ ]:
import pandas as pd
import numpy as np

# 1. โหลดไฟล์ที่ชื่อ olympics_cleaned.csv ขึ้นมาใน DataFrame ที่ชื่อ medals

In [334]:
medals = pd.read_csv("olympics_cleaned.csv")
medals

,Country,Code,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
0,Afghanistan,AFG,13,0,0,2,0,0,0,0
1,Algeria,ALG,12,5,2,8,3,0,0,0
2,Argentina,ARG,23,18,24,28,18,0,0,0
3,Armenia,ARM,5,1,2,9,6,0,0,0
4,Australasia,ANZ,2,3,4,5,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
141,Yugoslavia,YUG,16,26,29,28,14,0,3,1
142,Independent Olympic Participants,IOP,1,0,1,2,0,0,0,0
143,Zambia,ZAM,12,0,1,1,0,0,0,0
144,Zimbabwe,ZIM,12,3,4,1,1,0,0,0
145,Mixed team,ZZX,3,8,5,4,0,0,0,0

# 2. โหลดไฟล์ชื่อ drinks.csv ขึ้นมาใน DataFrame ชื่อ drinks

In [335]:
drinks = pd.read_csv("drinks.csv")
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

# 3. ใน drinks มีคอลัมน์ไหนที่ไม่มีข้อมูลบ้าง และไม่มีข้อมูลกี่ตำแหน่งในแต่ละคอลัมน์

In [336]:
drinks.isna().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

# 4. ลองเช็คว่าชื่อประเทศของตาราง medals ใดที่ไม่มีอยู่ในตาราง drinks 
    1. ลองใช้คำสั่ง isin() ในการเช็คว่ามีประเทศใดใน medals ไม่อยู่ใน drinks บ้าง

In [337]:
medals[medals.Country.isin(drinks.country) == False]

,Country,Code,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
4,Australasia,ANZ,2,3,4,5,0,0,0,0
13,Bermuda,BER,17,0,0,1,7,0,0,0
14,Bohemia,BOH,3,0,1,3,0,0,0,0
17,British West Indies,BWI,1,0,0,2,0,0,0,0
26,Ivory Coast,CIV,12,0,1,0,0,0,0,0
31,Czechoslovakia,TCH,16,49,49,45,16,2,8,15
45,United Team of Germany,EUA,3,28,54,36,3,8,6,5
46,East Germany,GDR,5,153,129,127,6,39,36,35
47,West Germany,FRG,5,56,67,81,6,11,15,13
49,Great Britain,GBR,27,236,272,272,22,10,4,12
55,Hong Kong,HKG,15,1,1,1,4,0,0,0
75,Liechtenstein,LIE,16,0,0,0,18,2,2,5
89,Netherlands Antilles,AHO,13,0,1,0,2,0,0,0
101,Puerto Rico,PUR,17,0,2,6,6,0,0,0
104,Russia,RUS,5,132,121,142,6,49,40,35
105,Russian Empire,RU1,3,1,4,3,0,0,0,0
106,Soviet Union,URS,9,395,319,296,9,78,57,59
107,Unified Team,EUN,1,45,38,29,1,9,6,8
111,Serbia and Montenegro,SCG,3,2,4,3,3,0,0,0
123,Chinese Taipei,TPE,13,2,7,12,11,0,0,0
129,Trinidad and Tobago,TRI,16,2,5,11,3,0,0,0
135,United States,USA,26,976,757,666,22,96,102,84
140,Virgin Islands,ISV,11,0,1,0,7,0,0,0
141,Yugoslavia,YUG,16,26,29,28,14,0,3,1
142,Independent Olympic Participants,IOP,1,0,1,2,0,0,0,0
145,Mixed team,ZZX,3,8,5,4,0,0,0,0

# 5. แสดงชื่อประเทศของตาราง drinks ที่ไม่มีอยู่ในตาราง medals 
    1. นิสิตจะเห็นความแตกต่างของชื่อประเทศในสองตารางนี้ว่าเรียกชื่อประเทศไม่เหมือนกัน ตอนทำงาน

In [338]:
drinks[drinks.country.isin(medals.Country) == False]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
13,Bangladesh,0,0,0,0.0,AS
...,...,...,...,...,...,...
178,Tuvalu,6,41,9,1.0,OC
182,United Kingdom,219,126,195,10.4,EU
184,USA,249,158,84,8.7,NaN
187,Vanuatu,21,18,11,0.9,OC
190,Yemen,6,0,0,0.1,AS

# 6. นำคอลัมน์ที่ชื่อ continent ของ drinks ไปต่อกับตาราง medals ตามชื่อประเทศของ medals 
    1. การที่จะ join ตารางได้นั้นต้องมีคอลัมน์ที่ตรงกันในทั้งสองตาราง ในที่นี้ให้ใช้ชื่อประเทศ 
    2. อย่าลืมว่าการ join ข้อมูลนั้นเราต้องการคงข้อมูลของประเทศที่มีในตาราง medals ไว้ ตารางที่ join 
แล้วจะมีจำนวนแถวเท่ากับตาราง medals

In [339]:
medals = medals.join(drinks.set_index("country").loc[:,"continent"], on='Country')
medals

,Country,Code,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,continent
0,Afghanistan,AFG,13,0,0,2,0,0,0,0,AS
1,Algeria,ALG,12,5,2,8,3,0,0,0,AF
2,Argentina,ARG,23,18,24,28,18,0,0,0,SA
3,Armenia,ARM,5,1,2,9,6,0,0,0,EU
4,Australasia,ANZ,2,3,4,5,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
141,Yugoslavia,YUG,16,26,29,28,14,0,3,1,NaN
142,Independent Olympic Participants,IOP,1,0,1,2,0,0,0,0,NaN
143,Zambia,ZAM,12,0,1,1,0,0,0,0,AF
144,Zimbabwe,ZIM,12,3,4,1,1,0,0,0,AF
145,Mixed team,ZZX,3,8,5,4,0,0,0,0,NaN

# 7. ในตาราง medals จงแสดงชื่อประเทศที่ยังไม่มีข้อมูลในคอลัมน์ continent

In [340]:
medals[medals.continent.isna() == True]

,Country,Code,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,continent
4,Australasia,ANZ,2,3,4,5,0,0,0,0,NaN
8,Bahamas,BAH,15,5,2,5,0,0,0,0,NaN
10,Barbados,BAR,11,0,0,1,0,0,0,0,NaN
13,Bermuda,BER,17,0,0,1,7,0,0,0,NaN
14,Bohemia,BOH,3,0,1,3,0,0,0,0,NaN
17,British West Indies,BWI,1,0,0,2,0,0,0,0,NaN
21,Canada,CAN,25,59,99,121,22,62,56,52,NaN
25,Costa Rica,CRC,14,1,1,2,6,0,0,0,NaN
26,Ivory Coast,CIV,12,0,1,0,0,0,0,0,NaN
28,Cuba,CUB,19,72,67,70,0,0,0,0,NaN
31,Czechoslovakia,TCH,16,49,49,45,16,2,8,15,NaN
34,Dominican Republic,DOM,13,3,2,1,0,0,0,0,NaN
45,United Team of Germany,EUA,3,28,54,36,3,8,6,5,NaN
46,East Germany,GDR,5,153,129,127,6,39,36,35,NaN
47,West Germany,FRG,5,56,67,81,6,11,15,13,NaN
49,Great Britain,GBR,27,236,272,272,22,10,4,12,NaN
51,Grenada,GRN,8,1,0,0,0,0,0,0,NaN
52,Guatemala,GUA,13,0,1,0,1,0,0,0,NaN
54,Haiti,HAI,14,0,1,1,0,0,0,0,NaN
55,Hong Kong,HKG,15,1,1,1,4,0,0,0,NaN
65,Jamaica,JAM,16,17,30,20,7,0,0,0,NaN
75,Liechtenstein,LIE,16,0,0,0,18,2,2,5,NaN
81,Mexico,MEX,22,13,21,28,8,0,0,0,NaN
89,Netherlands Antilles,AHO,13,0,1,0,2,0,0,0,NaN
95,Panama,PAN,16,1,0,2,0,0,0,0,NaN
101,Puerto Rico,PUR,17,0,2,6,6,0,0,0,NaN
104,Russia,RUS,5,132,121,142,6,49,40,35,NaN
105,Russian Empire,RU1,3,1,4,3,0,0,0,0,NaN
106,Soviet Union,URS,9,395,319,296,9,78,57,59,NaN
107,Unified Team,EUN,1,45,38,29,1,9,6,8,NaN
111,Serbia and Montenegro,SCG,3,2,4,3,3,0,0,0,NaN
123,Chinese Taipei,TPE,13,2,7,12,11,0,0,0,NaN
129,Trinidad and Tobago,TRI,16,2,5,11,3,0,0,0,NaN
135,United States,USA,26,976,757,666,22,96,102,84,NaN
140,Virgin Islands,ISV,11,0,1,0,7,0,0,0,NaN
141,Yugoslavia,YUG,16,26,29,28,14,0,3,1,NaN
142,Independent Olympic Participants,IOP,1,0,1,2,0,0,0,0,NaN
145,Mixed team,ZZX,3,8,5,4,0,0,0,0,NaN

# 8. นิสิตจะเห็นแนวทางการแก้ไขข้อมูลหรือรวมประเทศบางประเทศเข้าด้วยกัน แต่ในการบ้านนี้ยังไม่ต้องทำทั้ง หมด แค่เติมข้อมูลทวีปที่ยังขาดหายไปในบางประเทศดังนี้ Australasia: OC, Canada/United States/ Mexico: NA, Cuba/Jamaica: SA, Czech/Yugoslavia/Germany(ทั้งหมด)/Great Britain/Russia(ทั้ง หมด)/Soviet: EU ประเทศที่เหลือกำหนดให้เป็น 'OT' ไป 
1. ตารางนี้จะเป็นตารางแบบ wide ที่สมบูรณ์ ควรเก็บไว้เพื่อใช้ในการคำนวณ

In [341]:
medals.loc[medals.Country == "Australasia", "continent"] = "OC"
medals.loc[medals.Country.isin(["Canada", "United States", "Mexico"]), "continent"] = "NA"
medals.loc[medals.Country.isin(["Cuba", "Jamaica"]), "continent"] = "SA"
medals.loc[medals.Country.str.contains("Czech\b|Yugoslavia|Germany|Great Britain|Russia|Soviet", regex=True), "continent"] = "EU"
medals.loc[medals.continent.isna(), "continent"] = "OT"

# 9. ตั้งให้ ชื่อทวีปเป็น index ชั้นนอกและชื่อประเทศเป็น index ชั้นใน

In [342]:
medals.set_index(["continent", "Country"], inplace=True)
medals

                                           Code  SummerGame  SummerGold  \
continent Country
AS        Afghanistan                       AFG          13           0
AF        Algeria                           ALG          12           5
SA        Argentina                         ARG          23          18
EU        Armenia                           ARM           5           1
OC        Australasia                       ANZ           2           3
...                                         ...         ...         ...
EU        Yugoslavia                        YUG          16          26
OT        Independent Olympic Participants  IOP           1           0
AF        Zambia                            ZAM          12           0
          Zimbabwe                          ZIM          12           3
OT        Mixed team                        ZZX           3           8

                                            SummerSilver  SummerBronze  \
continent Country
AS        Afghanistan                                  0             2
AF        Algeria                                      2             8
SA        Argentina                                   24            28
EU        Armenia                                      2             9
OC        Australasia                                  4             5
...                                                  ...           ...
EU        Yugoslavia                                  29            28
OT        Independent Olympic Participants             1             2
AF        Zambia                                       1             1
          Zimbabwe                                     4             1
OT        Mixed team                                   5             4

                                            WinterGame  WinterGold  \
continent Country
AS        Afghanistan                                0           0
AF        Algeria                                    3           0
SA        Argentina                                 18           0
EU        Armenia                                    6           0
OC        Australasia                                0           0
...                                                ...         ...
EU        Yugoslavia                                14           0
OT        Independent Olympic Participants           0           0
AF        Zambia                                     0           0
          Zimbabwe                                   1           0
OT        Mixed team                                 0           0

                                            WinterSilver  WinterBronze
continent Country
AS        Afghanistan                                  0             0
AF        Algeria                                      0             0
SA        Argentina                                    0             0
EU        Armenia                                      0             0
OC        Australasia                                  0             0
...                                                  ...           ...
EU        Yugoslavia                                   3             1
OT        Independent Olympic Participants             0             0
AF        Zambia                                       0             0
          Zimbabwe                                     0             0
OT        Mixed team                                   0             0

[146 rows x 9 columns]

# 10. เรียงลำดับชื่อทวีปจากมากไปน้อยและในทวีปเรียงลำดับชื่อประเทศจากน้อยไปมาก

In [343]:
medals.sort_index(ascending=[False, True], inplace=True)
medals

                    Code  SummerGame  SummerGold  SummerSilver  SummerBronze  \
continent Country
SA        Argentina  ARG          23          18            24            28
          Brazil     BRA          21          23            30            55
          Chile      CHI          22           2             7             4
          Colombia   COL          18           2             6            11
          Cuba       CUB          19          72            67            70
...                  ...         ...         ...           ...           ...
AF        Togo       TOG           9           0             0             1
          Tunisia    TUN          13           3             3             4
          Uganda     UGA          14           2             3             2
          Zambia     ZAM          12           0             1             1
          Zimbabwe   ZIM          12           3             4             1

                     WinterGame  WinterGold  WinterSilver  WinterBronze
continent Country
SA        Argentina          18           0             0             0
          Brazil              7           0             0             0
          Chile              16           0             0             0
          Colombia            1           0             0             0
          Cuba                0           0             0             0
...                         ...         ...           ...           ...
AF        Togo                1           0             0             0
          Tunisia             0           0             0             0
          Uganda              0           0             0             0
          Zambia              0           0             0             0
          Zimbabwe            1           0             0             0

[146 rows x 9 columns]

# 11. จัดคอลัมน์ให้เป็นสองระดับ โดยระดับแรกคือฤดู และระดับที่สองคือจำนวนเกมส์และเหรียญที่ได้ (ดู ตัวอย่างจากเอกสารการสอน) ดังนั้นตอนนี้ข้อมูลจะมีสองระดับทั้ง index (ทวีปและประเทศ) และ column (ฤดูและจำนวนเกมและเหรียญ)

In [344]:
columns = pd.MultiIndex.from_tuples([
    ("Code", ""),
    ("Summer", "SummerGame"),
    ("Summer", "SummerGold"),
    ("Summer", "SummerSilver"),
    ("Summer", "SummerBronze"),
    ("Winter", "WinterGame"),
    ("Winter", "WinterGold"),
    ("Winter", "WinterSilver"),
    ("Winter", "WinterBronze"),
    ])

old_col = medals.columns

medals.columns = columns
medals

                    Code     Summer                                       \
                         SummerGame SummerGold SummerSilver SummerBronze
continent Country
SA        Argentina  ARG         23         18           24           28
          Brazil     BRA         21         23           30           55
          Chile      CHI         22          2            7            4
          Colombia   COL         18          2            6           11
          Cuba       CUB         19         72           67           70
...                  ...        ...        ...          ...          ...
AF        Togo       TOG          9          0            0            1
          Tunisia    TUN         13          3            3            4
          Uganda     UGA         14          2            3            2
          Zambia     ZAM         12          0            1            1
          Zimbabwe   ZIM         12          3            4            1

                        Winter
                    WinterGame WinterGold WinterSilver WinterBronze
continent Country
SA        Argentina         18          0            0            0
          Brazil             7          0            0            0
          Chile             16          0            0            0
          Colombia           1          0            0            0
          Cuba               0          0            0            0
...                        ...        ...          ...          ...
AF        Togo               1          0            0            0
          Tunisia            0          0            0            0
          Uganda             0          0            0            0
          Zambia             0          0            0            0
          Zimbabwe           1          0            0            0

[146 rows x 9 columns]

# 12. ย้ายระดับของฤดูมาเป็น index ชั้นในสุด

In [345]:
medals.swaplevel(i=0, axis=1)

                         SummerGame SummerGold SummerSilver SummerBronze  \
                    Code     Summer     Summer       Summer       Summer
continent Country
SA        Argentina  ARG         23         18           24           28
          Brazil     BRA         21         23           30           55
          Chile      CHI         22          2            7            4
          Colombia   COL         18          2            6           11
          Cuba       CUB         19         72           67           70
...                  ...        ...        ...          ...          ...
AF        Togo       TOG          9          0            0            1
          Tunisia    TUN         13          3            3            4
          Uganda     UGA         14          2            3            2
          Zambia     ZAM         12          0            1            1
          Zimbabwe   ZIM         12          3            4            1

                    WinterGame WinterGold WinterSilver WinterBronze
                        Winter     Winter       Winter       Winter
continent Country
SA        Argentina         18          0            0            0
          Brazil             7          0            0            0
          Chile             16          0            0            0
          Colombia           1          0            0            0
          Cuba               0          0            0            0
...                        ...        ...          ...          ...
AF        Togo               1          0            0            0
          Tunisia            0          0            0            0
          Uganda             0          0            0            0
          Zambia             0          0            0            0
          Zimbabwe           1          0            0            0

[146 rows x 9 columns]

# 13. ปรับตารางให้เป็นแบบ long โดยหนึ่งแถวจะมีคอลัมน์คือทวีป ประเทศ ฤดูแข่งขัน จำนวนเกม ประเภทเหรียญ จำนวนเหรียญ

In [346]:
medals.columns = old_col
medals = medals.reset_index()

In [347]:
melted = pd.melt(medals,
                 id_vars=["continent", "Country", "SummerGame", "WinterGame"],
                 value_vars=["SummerGame", "SummerGold", "SummerSilver", "SummerBronze", "WinterGame", "WinterGold", "WinterSilver", "WinterBronze"],
                 var_name = "Medal",
                 value_name="Count")
melted["Season"] = melted.Medal.str.extract("(Summer|Winter)")
melted["Game"] = np.where(melted["Medal"].str.contains("Summer"), melted["SummerGame"], melted["WinterGame"])
bak_melt = melted.copy() # back up for before rename column of the dataframe
melted["Medal"] = melted["Medal"].str.replace("(Summer|Winter)", "", regex=True)
melted = melted.loc[:, ["continent", "Country", "Season", "Game", "Medal", "Count"]]
melted

    continent    Country  Season  Game   Medal  Count
0          SA  Argentina  Summer    23    Gold     18
1          SA     Brazil  Summer    21    Gold     23
2          SA      Chile  Summer    22    Gold      2
3          SA   Colombia  Summer    18    Gold      2
4          SA       Cuba  Summer    19    Gold     72
..        ...        ...     ...   ...     ...    ...
871        AF       Togo  Winter     1  Bronze      0
872        AF    Tunisia  Winter     0  Bronze      0
873        AF     Uganda  Winter     0  Bronze      0
874        AF     Zambia  Winter     0  Bronze      0
875        AF   Zimbabwe  Winter     1  Bronze      0

[876 rows x 6 columns]

# 14. แสดงจำนวนเหรียญทองโอลิมปิกฤดูร้อนรวมของแต่ละทวีปจากมากไปน้อย

In [348]:
melted = bak_melt
melted[melted["Medal"] == "SummerGold"][["continent", "Count"]].groupby("continent").sum().sort_values(by="Count", ascending=False)

           Count
continent
EU          2682
NA          1048
AS           531
OC           184
SA           141
OT           120
AF           103

# 15. นับว่าแต่ละทวีปมีกี่ประเทศ (ลองใช้คำสั่ง size() ต่อจากการ groupby() )

In [349]:
medals.groupby("continent").size()

continent
AF    26
AS    30
EU    46
NA     3
OC     4
OT    24
SA    13
dtype: int64

# 16. แสดงตารางรวมเหรียญฤดูร้อนแต่ละประเภทของทุกประเทศในทวีปเดียวกัน แสดงผลแยกตามทวีป

In [350]:
sum_medal_continent = melted[melted["Season"] == "Summer"][["continent", "Medal", "Count"]].groupby(["continent", "Medal"]).sum()
sum_medal_continent = sum_medal_continent.unstack("Medal").droplevel(axis=1, level=0).reset_index()
sum_medal_continent.columns.name = None

sum_medal_continent = sum_medal_continent.set_index("continent")
sum_medal_continent[["SummerGold", "SummerSilver", "SummerBronze"]]

           SummerGold  SummerSilver  SummerBronze
continent
AF                103           112           132
AS                531           485           533
EU               2682          2830          3094
NA               1048           877           815
OC                184           175           221
OT                120           123           131
SA                141           173           204

# 17. แสดงตารางสรุปรวมเหรียญแต่ละประเภทของทุกประเทศแยกตามฤดูแข่งขัน

In [351]:
melted["Medal"] = melted["Medal"].replace("(Summer|Winter)", "", regex=True)
sum_medal_season = melted[["Season", "Medal", "Count"]].groupby(["Season", "Medal"]).sum().unstack(level=0).droplevel(axis=1, level=0).reset_index().set_index("Medal")
sum_medal_season.columns.name = None
sum_medal_season

        Summer  Winter
Medal
Bronze    5130     948
Gold      4809     959
Silver    4775     958

# 18. หาค่าเฉลี่ยของจำนวนเหรียญทองฤดูร้อนต่อประเทศที่เข้าร่วมแข่งขัน แยกตามทวีป

In [352]:
melted
melted.reset_index()
melted_mean = melted[(melted["Season"] == "Summer") & (melted["Medal"] == "Gold")][["continent", "Count"]].groupby("continent").mean()
melted_mean

                Count
continent
AF           3.961538
AS          17.700000
EU          58.304348
NA         349.333333
OC          46.000000
OT           5.000000
SA          10.846154

# 19. หาจำนวนประเทศที่เคยเข้าร่วมการแข่งขันโอลิมปิค แยกตามทวีปและฤดูแข่งขัน แสดงในตารางเดียวกัน

In [353]:
medals["Summer"] = np.where(medals["SummerGame"] > 0, 1, 0)
medals["Winter"] = np.where(medals["WinterGame"] > 0, 1, 0)
medals[["continent", "Summer", "Winter"]].groupby("continent").sum()

           Summer  Winter
continent
AF             26      11
AS             30      17
EU             46      45
NA              3       3
OC              4       3
OT             24      13
SA             13       9

# 20. จำนวนเหรียญรวม(ฤดูร้อนกับฤดูหนาว) แยกตามทวีปและฤดูแข่งขัน

In [354]:
medals["Gold"] = medals["SummerGold"] + medals["WinterGold"]
medals["Silver"] = medals["SummerSilver"] + medals["WinterSilver"]
medals["Bronze"] = medals["SummerBronze"] + medals["WinterBronze"]

medals[["continent", "Bronze", "Gold", "Silver"]].groupby("continent").sum()

           Bronze  Gold  Silver
continent
AF            132   103     112
AS            584   581     545
EU           3823  3415    3550
NA            951  1206    1035
OC            225   189     179
OT            159   133     139
SA            204   141     173