# **ธนภัทร พูลโภคา 6710450911 หมู่ 200**

In [1]:
import pandas as pd
import numpy as np

```1. โหลดไฟล์ที่ชื่อ olympic_cleaned.csv ขึ้นมาใน DataFrame ที่ชื่อ medals```

In [40]:
medals = pd.read_csv("./olympics_cleaned.csv")
medals

,Country,Code,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
0,Afghanistan,AFG,13,0,0,2,0,0,0,0
1,Algeria,ALG,12,5,2,8,3,0,0,0
2,Argentina,ARG,23,18,24,28,18,0,0,0
3,Armenia,ARM,5,1,2,9,6,0,0,0
4,Australasia,ANZ,2,3,4,5,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
141,Yugoslavia,YUG,16,26,29,28,14,0,3,1
142,Independent Olympic Participants,IOP,1,0,1,2,0,0,0,0
143,Zambia,ZAM,12,0,1,1,0,0,0,0
144,Zimbabwe,ZIM,12,3,4,1,1,0,0,0
145,Mixed team,ZZX,3,8,5,4,0,0,0,0

```2. แสดงจำนวนแถวและจำนวนคอลัมน์ของ medals```

In [41]:
medals.shape

(146, 10)

```3. ตรวจสอบว่ารหัสประเทศ (Code) ไม่มีซ้ำกันด้วย attribute is_unique```

In [42]:
medals.Code.is_unique

True

```4. ตั้งรหัสประเทศให้เป็น index```

In [43]:
medals.set_index("Code", inplace=True)
medals

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AFG,Afghanistan,13,0,0,2,0,0,0,0
ALG,Algeria,12,5,2,8,3,0,0,0
ARG,Argentina,23,18,24,28,18,0,0,0
ARM,Armenia,5,1,2,9,6,0,0,0
ANZ,Australasia,2,3,4,5,0,0,0,0
...,...,...,...,...,...,...,...,...,...
YUG,Yugoslavia,16,26,29,28,14,0,3,1
IOP,Independent Olympic Participants,1,0,1,2,0,0,0,0
ZAM,Zambia,12,0,1,1,0,0,0,0
ZIM,Zimbabwe,12,3,4,1,1,0,0,0
ZZX,Mixed team,3,8,5,4,0,0,0,0

```5. แสดงคอลัมน์เหรียญทองโอลิมปิคฤดูร้อน```

In [44]:
medals["SummerGold"]

Code
AFG     0
ALG     5
ARG    18
ARM     1
ANZ     3
       ..
YUG    26
IOP     0
ZAM     0
ZIM     3
ZZX     8
Name: SummerGold, Length: 146, dtype: int64

```6. แสดงข้อมูลของประเทศสหรัฐอเมริกา```

In [45]:
medals[medals.index == "USA"]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
USA,United States,26,976,757,666,22,96,102,84

```7. แสดงเฉพาะข้อมูลของโอลิมปิคฤดูร้อนของทุกประเทศ (คอลัมน์ที่ขึ้นต้นด้วยคำว่า Summer)```

In [46]:
medals.loc[ :, medals.columns.str.startswith("Summer")]

      SummerGame  SummerGold  SummerSilver  SummerBronze
Code
AFG           13           0             0             2
ALG           12           5             2             8
ARG           23          18            24            28
ARM            5           1             2             9
ANZ            2           3             4             5
...          ...         ...           ...           ...
YUG           16          26            29            28
IOP            1           0             1             2
ZAM           12           0             1             1
ZIM           12           3             4             1
ZZX            3           8             5             4

[146 rows x 4 columns]

```8. แสดงข้อมูลเหรียญทองของโอลิมปิกฤดูร้อนและฤดูหนาวของประเทศไทย (THA) สิงคโปร์ (SIN) และมาเลเซีย (MAS) แสดงชื่อประเทศด้วย```

In [47]:
medals.loc[ ["THA", "SIN", "MAS"], ["Country", "SummerGold", "WinterGold"] ]

        Country  SummerGold  WinterGold
Code
THA    Thailand           7           0
SIN   Singapore           0           0
MAS    Malaysia           0           0

```9. แสดงข้อมูลเหรียญเงินและเหรียญทองแดงของโอลิมปิคฤดูร้อนของประเทศฝรั่งเศส (FRA) และสเปน (ESP) แสดงชื่อประเทศด้วย```

In [48]:
medals.loc[ ["FRA", "ESP"], ["Country", "SummerSilver", "SummerGold"] ]

     Country  SummerSilver  SummerGold
Code
FRA   France           223         202
ESP    Spain            59          37

```10. แสดงประเทศที่เข้าร่วมโอลิมปิคฤดูร้อนมากกว่า 24 ครั้ง```

In [49]:
medals[medals.SummerGame > 24]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AUS,Australia,25,139,152,177,18,5,3,4
AUT,Austria,26,18,33,35,22,59,78,81
BEL,Belgium,25,37,52,53,20,1,1,3
CAN,Canada,25,59,99,121,22,62,56,52
DEN,Denmark,26,43,68,68,13,0,1,0
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
GRE,Greece,27,30,42,39,18,0,0,0
HUN,Hungary,25,167,144,165,22,0,2,4
ITA,Italy,26,198,166,185,22,37,34,43
NED,Netherlands,25,77,85,104,20,37,38,35
SWE,Sweden,26,143,164,176,22,50,40,54
SUI,Switzerland,27,47,73,65,22,50,40,48
USA,United States,26,976,757,666,22,96,102,84

```11. แสดงประเทศที่เข้าร่วมโอลิมปิคฤดูร้อนมากกว่า 24 ครั้งแสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูร้อนมากกว่า 200 เหรียญ```

In [50]:
medals[(medals.SummerGame > 24) & (medals.SummerGold > 200)]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
USA,United States,26,976,757,666,22,96,102,84

```12. แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูร้อนมากกว่า 200 เหรียญ และเป็นเหรียญเงินมากกว่า 200 เหรียญ```

In [51]:
medals[(medals.SummerGold > 200) & (medals.SummerSilver > 200)]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
URS,Soviet Union,9,395,319,296,9,78,57,59
USA,United States,26,976,757,666,22,96,102,84

```13. แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูหนาวมากกว่าเหรียญเงินของโอลิมปิคฤดูหนาว```

In [52]:
medals[medals.WinterGold > medals.WinterSilver]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
AUS,Australia,25,139,152,177,18,5,3,4
BLR,Belarus,5,12,24,39,6,6,4,5
CAN,Canada,25,59,99,121,22,62,56,52
EST,Estonia,11,9,9,15,9,4,2,1
EUA,United Team of Germany,3,28,54,36,3,8,6,5
GDR,East Germany,5,153,129,127,6,39,36,35
GBR,Great Britain,27,236,272,272,22,10,4,12
ITA,Italy,26,198,166,185,22,37,34,43
KOR,South Korea,16,81,82,80,17,26,17,10
NOR,Norway,24,56,49,43,22,118,111,100
RUS,Russia,5,132,121,142,6,49,40,35
URS,Soviet Union,9,395,319,296,9,78,57,59
EUN,Unified Team,1,45,38,29,1,9,6,8
ESP,Spain,22,37,59,35,19,1,0,1
SWE,Sweden,26,143,164,176,22,50,40,54
SUI,Switzerland,27,47,73,65,22,50,40,48
UKR,Ukraine,5,33,27,55,6,2,1,4
UZB,Uzbekistan,5,5,5,10,6,1,0,0

```14. แสดงประเทศที่ได้เหรียญทองของโอลิมปิคฤดูหนาวมากกว่าเหรียญเงินและเหรียญทองแดงของโอลิมปิคฤดูหนาวรวมกัน```

In [53]:
medals[medals.WinterGold > (medals.WinterSilver + medals.WinterBronze)]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
EST,Estonia,11,9,9,15,9,4,2,1
UZB,Uzbekistan,5,5,5,10,6,1,0,0

```15. แสดงข้อมูลโอลิมปิกฤดูร้อนเท่านั้นของประเทศที่ชื่อขึ้นต้นด้วย 'A' ทั้งหมด```

In [54]:
medals.loc[medals.Country.str.startswith("A"), medals.columns.str.contains("Summer")]

      SummerGame  SummerGold  SummerSilver  SummerBronze
Code
AFG           13           0             0             2
ALG           12           5             2             8
ARG           23          18            24            28
ARM            5           1             2             9
ANZ            2           3             4             5
AUS           25         139           152           177
AUT           26          18            33            35
AZE            5           6             5            15

```16. ประเทศที่เข้าร่วมจำนวนโอลิมปิกฤดูร้อนมากที่สุดคือกี่ครั้ง```

In [55]:
medals.SummerGame.max()

27

```17. แสดงชื่อประเทศที่เข้าร่วมโอลิมปิกฤดูร้อนมากที่สุด (ระวัง!! อาจมีหลายประเทศ)```

In [56]:
medals[ medals.SummerGame == medals.SummerGame.max() ]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze
Code,,,,,,,,,
FRA,France,27,202,223,246,22,31,31,47
GBR,Great Britain,27,236,272,272,22,10,4,12
GRE,Greece,27,30,42,39,18,0,0,0
SUI,Switzerland,27,47,73,65,22,50,40,48

```18. จำนวนประเทศที่เข้าร่วมโอลิมปิกฤดูหนาวบ่อยที่สุดมีกี่ประเทศ```

In [57]:
medals[ medals.WinterGame == medals.WinterGame.max() ].shape[0]

12

```19. จำนวนเหรียญทั้งหมดที่แจกไปในโอลิมปิกฤดูหนาวรวมแล้วมีกี่เหรียญ```

In [58]:
print(medals.WinterGold.sum() + medals.WinterSilver.sum() + medals.WinterBronze.sum())

2865

```20. หาค่าเฉลี่ยของจำนวนเหรียญทองฤดูหนาวและฤดูร้อนต่อประเทศ```

In [59]:
medals["AvgWinterGold"] = medals["WinterGold"].div(medals["WinterGame"]).replace(np.nan, 0.0)
medals["AvgSummerGold"] = medals["SummerGold"].div(medals["SummerGame"]).replace(np.nan, 0.0)

medals.loc[:, ["AvgWinterGold", "AvgSummerGold"]]

      AvgWinterGold  AvgSummerGold
Code
AFG             0.0       0.000000
ALG             0.0       0.416667
ARG             0.0       0.782609
ARM             0.0       0.200000
ANZ             0.0       1.500000
...             ...            ...
YUG             0.0       1.625000
IOP             0.0       0.000000
ZAM             0.0       0.000000
ZIM             0.0       0.250000
ZZX             0.0       2.666667

[146 rows x 2 columns]

```21. แสดงจำนวนเหรียญทั้งหมด(รวมฤดูร้อนและฤดูหนาว)ที่แต่ละประเทศได้```

In [60]:
print(medals.WinterGold.sum() + medals.WinterSilver.sum() + medals.WinterBronze.sum())

2865

```22. แสดงประเทศที่ได้เหรียญรวมทุกประเภทของโอลิมปิกฤดูหนาวมากกว่าเหรียญรวมโอลิมปิกฤดูร้อน ให้คอลัมน์ของตารางนี้แสดงชื่อประเทศ เหรียญรวมฤดูร้อน เหรียญรวมฤดูหนาว```

In [70]:
medals["SumSummer"] = medals["SummerGold"] + medals["SummerSilver"] + medals["SummerBronze"]
medals["SumWinter"] = medals["WinterGold"] + medals["WinterSilver"] + medals["WinterBronze"]
medals[medals.SumWinter > medals.SumSummer]

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,AvgWinterGold,AvgSummerGold,SumSummer,SumWinter
Code,,,,,,,,,,,,,
AUT,Austria,26,18,33,35,22,59,78,81,2.681818,0.692308,86,218
LIE,Liechtenstein,16,0,0,0,18,2,2,5,0.111111,0.000000,0,9
NOR,Norway,24,56,49,43,22,118,111,100,5.363636,2.333333,148,329

```23. แสดงประเทศที่ไม่เคยได้เหรียญใดของโอลิมปิกฤดูร้อนแต่ได้เหรียญใดของฤดูหนาว หรือ ได้แต่เหรียญฤดูร้อนไม่เคยได้ฤดูหนาว```

In [73]:
medals[ ( ( medals.SumSummer == 0 ) & ( medals.SumWinter > 0 ) ) | ( ( medals.SumSummer > 0 ) & ( medals.SumWinter == 0 ) )].loc[:, ["SumSummer", "SumWinter"]].tail(20)

      SumSummer  SumWinter
Code
SYR           3          0
TPE          21          0
TJK           3          0
TAN           2          0
THA          24          0
TOG           1          0
TGA           1          0
TRI          18          0
TUN          10          0
TUR          88          0
UGA           7          0
UAE           1          0
URU          10          0
VEN          12          0
VIE           2          0
ISV           1          0
IOP           3          0
ZAM           2          0
ZIM           8          0
ZZX          17          0

```24. แสดงประเทศเรียงลำดับตามเหรียญทองฤดูร้อนจากน้อยไปมาก```

In [ ]:
medals.sort_values(by="SummerGold")

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,AvgWinterGold,AvgSummerGold,SumSummer,SumWinter
Code,,,,,,,,,,,,,
AFG,Afghanistan,13,0,0,2,0,0,0,0,0.000000,0.000000,2,0
NAM,Namibia,6,0,4,0,0,0,0,0,0.000000,0.000000,4,0
MNE,Montenegro,2,0,1,0,2,0,0,0,0.000000,0.000000,1,0
MDA,Moldova,5,0,2,5,6,0,0,0,0.000000,0.000000,7,0
MRI,Mauritius,8,0,0,1,0,0,0,0,0.000000,0.000000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
CHN,China,9,201,146,126,10,12,22,19,1.200000,22.333333,473,53
FRA,France,27,202,223,246,22,31,31,47,1.409091,7.481481,671,109
GBR,Great Britain,27,236,272,272,22,10,4,12,0.454545,8.740741,780,26
URS,Soviet Union,9,395,319,296,9,78,57,59,8.666667,43.888889,1010,194
USA,United States,26,976,757,666,22,96,102,84,4.363636,37.538462,2399,282

```25. แสดงประเทศเรียงลำดับตามเหรียญทองฤดูร้อนจากมากไปน้อย ถ้าได้เหรียญทองฤดูร้อนเท่ากันให้เรียงตามจำนวนการเข้าแข่งฤดูร้อนจากน้อยไปมาก ```

In [76]:
medals.sort_values(by=["SummerGold", "SummerGame"], ascending=[True, False])

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,AvgWinterGold,AvgSummerGold,SumSummer,SumWinter
Code,,,,,,,,,,,,,
PHI,Philippines,20,0,2,7,4,0,0,0,0.000000,0.000000,9,0
ISL,Iceland,19,0,2,2,17,0,0,0,0.000000,0.000000,4,0
BER,Bermuda,17,0,0,1,7,0,0,0,0.000000,0.000000,1,0
PUR,Puerto Rico,17,0,2,6,6,0,0,0,0.000000,0.000000,8,0
GUY,Guyana,16,0,0,1,0,0,0,0,0.000000,0.000000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
CHN,China,9,201,146,126,10,12,22,19,1.200000,22.333333,473,53
FRA,France,27,202,223,246,22,31,31,47,1.409091,7.481481,671,109
GBR,Great Britain,27,236,272,272,22,10,4,12,0.454545,8.740741,780,26
URS,Soviet Union,9,395,319,296,9,78,57,59,8.666667,43.888889,1010,194
USA,United States,26,976,757,666,22,96,102,84,4.363636,37.538462,2399,282

```26. ให้สร้างคอลัมน์ใหม่ในตาราง medals ให้ชื่อว่า score โดยคำนวณคะแนนรวมจากเหรียญที่แต่ละประเทศได้(ทั้งฤดูร้อนและหนาว) โดยให้เหรียญทองได้ 3 คะแนน เหรียญเงินได้ 2 คะแนน เหรียญทองแดงได้ 1 คะแนน แล้วแสดงข้อมูล 10 ประเทศแรกที่ได้คะแนนเยอะที่สุด```

In [80]:
medals["score"] = ((medals["SummerGold"] + medals["WinterGold"] * 3) +
                (medals["SummerSilver"] + medals["WinterSilver"] * 2) +
                (medals["SummerBronze"] + medals["WinterBronze"]))

medals.sort_values(by="score", ascending=True).head(10)

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,AvgWinterGold,AvgSummerGold,SumSummer,SumWinter,score
Code,,,,,,,,,,,,,,
GAB,Gabon,9,0,1,0,0,0,0,0,0.0,0.000,1,0,1
CIV,Ivory Coast,12,0,1,0,0,0,0,0,0.0,0.000,1,0,1
AHO,Netherlands Antilles,13,0,1,0,2,0,0,0,0.0,0.000,1,0,1
NIG,Niger,11,0,0,1,0,0,0,0,0.0,0.000,1,0,1
MRI,Mauritius,8,0,0,1,0,0,0,0,0.0,0.000,1,0,1
PAR,Paraguay,11,0,1,0,1,0,0,0,0.0,0.000,1,0,1
GRN,Grenada,8,1,0,0,0,0,0,0,0.0,0.125,1,0,1
SEN,Senegal,13,0,1,0,5,0,0,0,0.0,0.000,1,0,1
BDI,Burundi,5,1,0,0,0,0,0,0,0.0,0.200,1,0,1
MKD,Macedonia,5,0,0,1,5,0,0,0,0.0,0.000,1,0,1

```27. การเปรียบเทียบคะแนนจากเหรียญทั้งหมดอาจจะไม่แฟร์ เพราะแต่ละประเทศเข้าร่วมการแข่งขันไม่เท่ากัน ดังนั้นให้สร้างคอลัมน์ใหม่ในตาราง medals ชื่อว่า perGame โดยคำนวณคะแนนต่อการเข้าร่วมแข่งขัน (คะแนนคำนวณเหมือนเดิม แต่หารด้วยจำนวนเกมส์ที่เข้าแข่งขัน แยกกันระหว่างฤดูร้อนกับฤดูหนาว ค่า perGame จะเป็นผลบวกของคะแนนของฤดูร้อนกับฤดูหนาว) แสดงข้อมูล 10 ประเทศที่ได้คะแนนน้อยที่สุด```

In [84]:
medals["perGame"] = medals["score"] / (medals["SummerGame"] + medals["WinterGame"])
medals.sort_values(by="perGame").head(10)

,Country,SummerGame,SummerGold,SummerSilver,SummerBronze,WinterGame,WinterGold,WinterSilver,WinterBronze,AvgWinterGold,AvgSummerGold,SumSummer,SumWinter,score,perGame
Code,,,,,,,,,,,,,,,
BER,Bermuda,17,0,0,1,7,0,0,0,0.0,0.0,1,0,1,0.041667
CYP,Cyprus,9,0,1,0,10,0,0,0,0.0,0.0,1,0,1,0.052632
ISV,Virgin Islands,11,0,1,0,7,0,0,0,0.0,0.0,1,0,1,0.055556
SEN,Senegal,13,0,1,0,5,0,0,0,0.0,0.0,1,0,1,0.055556
GUY,Guyana,16,0,0,1,0,0,0,0,0.0,0.0,1,0,1,0.062500
AHO,Netherlands Antilles,13,0,1,0,2,0,0,0,0.0,0.0,1,0,1,0.066667
GUA,Guatemala,13,0,1,0,1,0,0,0,0.0,0.0,1,0,1,0.071429
IRQ,Iraq,13,0,0,1,0,0,0,0,0.0,0.0,1,0,1,0.076923
PAR,Paraguay,11,0,1,0,1,0,0,0,0.0,0.0,1,0,1,0.083333
CIV,Ivory Coast,12,0,1,0,0,0,0,0,0.0,0.0,1,0,1,0.083333