# **ธนภัทร พูลโภคา 6710450911 หมู่ 200**

In [184]:
import pandas as pd
import numpy as np

# 1. เปิดไฟล์ italy_earthquakes_from_2016-08-24_to_2016-11-30.csv

In [185]:
eq = pd.read_csv("italy_earthquakes_from_2016-08-24_to_2016-11-30.csv")
eq

                         Time  Latitude  Longitude  Depth/Km  Magnitude
0     2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1     2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2     2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3     2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4     2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                       ...       ...        ...       ...        ...
8081  2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
8082  2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
8083  2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
8084  2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
8085  2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 5 columns]

# 2. ปรับคอลัมน์ Time ให้เป็น Timestamp และตั้งให้เป็น index

In [186]:
eq["Time"] = pd.to_datetime(eq["Time"])
eq.set_index("Time", inplace=True)
eq

                         Latitude  Longitude  Depth/Km  Magnitude
Time
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 4 columns]

# 3. เวลาที่เกิดแผ่นดินไหวแรงที่สุดคือวันเวลาไหน

In [187]:
mx_datetime = eq.sort_values("Time", ascending=True).iloc[0, :].name
mx_datetime.strftime("%A %d %B %Y %H:%M:%S") + " - Magnitude " + str(eq.loc[mx_datetime, "Magnitude"])

'Wednesday 24 August 2016 03:36:32 - Magnitude 6.0'

# 4. ในวันที่เกิดแผ่นดินไหวแรงที่สุด มีแผ่นดินไหวกี่ครั้ง

In [188]:
eq[eq.index.date == mx_datetime.date]

Empty DataFrame
Columns: [Latitude, Longitude, Depth/Km, Magnitude]
Index: []